VITE_API_BASE_URL=/api/v1
VITE_API_PROXY_TARGET=http://localhost:9080
VITE_USE_POLLING=false
VITE_OIDC_AUTHORITY=http://localhost:18081/realms/datariver
VITE_OIDC_CLIENT_ID=datariver-web
VITE_OIDC_REDIRECT_URI=http://localhost:38102
VITE_OIDC_HIGH_ASSURANCE_ACR=2
VITE_OIDC_PASSWORD_REAUTH_ACR=1
